/*! CSS Used from: ../css/style.css */
body,
html {
  margin: 0px;
  padding: 0px;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gibson", sans-serif;
}

.container {
  max-width: 1530px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header.float {
  background-color: #F0C71E !important;
}

header .outer__header {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .outer__header .header__cart>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: #FF1800;
  border-radius: 250px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  position: relative;
}

header .outer__header .header__cart>a img {
  max-width: 28px;
  margin-left: 10px;
}

header .outer__header .header__cart>a img.active {
  opacity: 0;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  position: absolute;
  left: 0px;
  right: 40px;
  left: auto;
}

header .outer__header .header__cart>a img.default {
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header .outer__header .header__menu>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: #FF1800;
  border-radius: 250px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header .outer__header .header__menu>a .header__bars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 20px;
}

header .outer__header .header__menu>a .header__bars>span {
  min-width: 26px;
  min-height: 4px;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  top: 0px;
  bottom: auto;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  margin-bottom: 4px;
}

header .outer__header .header__menu>a .header__bars>span:last-child {
  margin-bottom: 0px;
  top: auto;
  bottom: 0px;
}

header .outer__header .header__logo {
  position: absolute;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

header .outer__header .header__logo>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header .outer__header .header__logo>a:hover {
  opacity: .7;
}

header .outer__header .header__logo img {
  max-width: 440px;
}

.tickercontainer {
  height: auto !important;
}

.float__menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ED3939;
  top: -100%;
  -webkit-transition: .7s ease all;
  transition: .7s ease all;
  z-index: 3;
}

.float__menu .socials {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
}

.float__menu .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.float__menu .socials ul li {
  margin-bottom: 0px;
  margin-right: 10px;
}

.float__menu .socials ul li:last-child {
  margin-right: 0px;
}

.float__menu .socials ul li a {
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 60px;
  border: 4px solid #fff;
  border-radius: 250px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 34px;
}

.float__menu .socials ul li a:hover {
  opacity: .7;
}

.float__menu ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  text-align: center;
}

.float__menu ul>li {
  margin-bottom: 15px;
}

.float__menu ul>li:last-child {
  margin-bottom: 0px;
}

.float__menu ul>li>a {
  font-family: "Grotesk", sans-serif;
  text-decoration: none;
  font-size: 90px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  color: #fff;
}

.float__menu ul>li>a:hover {
  opacity: .7;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F0C71E;
}

footer .container {
  max-width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

footer .outer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

footer .outer__footer .footer__right {
  width: 100%;
  max-width: 1000px;
}

footer .outer__footer .footer__right .desc__wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .outer__footer .footer__right .desc__wrapper .right__desc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 15px;
}

footer .outer__footer .footer__right .desc__wrapper .right__desc>img {
  max-width: 60px;
}

footer .outer__footer .footer__right .desc__wrapper .left__desc>p {
  font-weight: 800;
  color: #000;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 50px;
}

footer .outer__footer .footer__right .desc__wrapper .left__desc>p:last-child {
  margin-bottom: 0px;
  font-family: "HelveticaMd";
  font-weight: 500;
}

footer .outer__footer .footer__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

footer .outer__footer .footer__right form>.group__input {
  width: 100%;
  margin-right: 25px;
}

footer .outer__footer .footer__right form>.group__input>input {
  min-height: 70px;
  border: 6px solid #ED3939;
  font-size: 30px;
  font-weight: 800;
  color: #000;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  border-radius: 250px;
}

footer .outer__footer .footer__right form>.group__submit>button {
  min-height: 70px;
  min-width: 250px;
  background-color: #ED3939;
  border-radius: 250px;
  text-decoration: none;
  cursor: pointer;
  border: 0px;
  outline: none;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

footer .outer__footer .footer__right form>.group__submit>button:hover {
  opacity: .7;
}

footer .outer__footer .footer__right>h2 {
  text-align: center;
  color: #ED3939;
  font-size: 150px;
  font-family: "Grotesk", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  margin-bottom: 15px;
}

footer .outer__footer .footer__left .bottom__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .outer__footer .footer__left .bottom__part .socials {
  margin-left: 100px;
}

footer .outer__footer .footer__left .bottom__part .socials ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .outer__footer .footer__left .bottom__part .socials ul>li {
  margin-right: 15px;
}

footer .outer__footer .footer__left .bottom__part .socials ul>li>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 250px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  color: #000;
  font-size: 34px;
  border: 4px solid #000;
}

footer .outer__footer .footer__left .bottom__part .socials ul>li>a:hover {
  opacity: .7;
}

footer .outer__footer .footer__left .bottom__part .socials ul>li:last-child {
  margin-right: 0px;
}

footer .outer__footer .footer__left .bottom__part .menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul {
  margin: 0px;
  margin-right: 50px;
  list-style-type: none;
  padding: 0px;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul>li {
  margin-bottom: 12px;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul>li>a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul>li>a:hover {
  opacity: .7;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul>li:last-child {
  margin-bottom: 0px;
}

footer .outer__footer .footer__left .bottom__part .menu__ul>ul:last-child {
  margin-right: 0px;
}

footer .outer__footer .footer__left>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  margin-bottom: 25px;
}

footer .outer__footer .footer__left>a>img {
  max-width: 400px;
}

footer .outer__footer .footer__left>a:hover {
  opacity: .7;
}

.contact__wrapper {
  padding-top: 140px;
  background-color: #F0C71E;
  overflow: hidden;
}

.default__marquee {
  background-color: #ED3939;
  padding: 7px 0px;
}

.default__marquee.reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.default__marquee.reverse li {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.default__marquee ul {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.default__marquee ul>li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #F0C71E;
  font-weight: 900;
  font-size: 42px;
  padding: 0px !important;
  white-space: nowrap;
}

.default__marquee ul>li.spacer {
  margin: 0px 25px !important;
}

.default__marquee ul>li.spacer>img {
  max-width: 20px;
}

.group__input>input {
  width: 100%;
  height: 60px;
  border: 4px solid #000;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  outline: none;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.contact__wrapper .container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.banner__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding-right: 80px;
}

.banner__wrapper .outer__banner .banner__box {
  max-width: 800px;
  margin-left: auto;
}

.banner__wrapper .outer__banner .banner__box>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.banner__wrapper .outer__banner .banner__box>a:hover {
  opacity: .7;
}

.banner__wrapper .outer__banner .banner__box>a span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 25px;
}

.banner__wrapper .outer__banner .banner__box>a span img {
  max-width: 60px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner {
  margin-bottom: 30px;
  padding: 40px;
  background-color: #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 6px solid #000;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -25px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 275px;
  min-height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 250px;
  font-weight: 900;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}



.banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images>img:nth-child(1) {
  max-width: 85px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images>img:nth-child(2) {
  max-width: 180px;
  position: relative;
  top: -25px;
  margin-left: 15px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .title>h2 {
  font-size: 90px;
  line-height: 92px;
  font-weight: 900;
  margin: 0px;
  margin-top: -3px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .title>span {
  min-height: 3px;
  border-radius: 5px;
  width: 100%;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right {
  max-width: 270px;
  padding-bottom: 10px;
  flex: 40%;
  border-left: 2px solid #F0C71E;
  padding-left: 10px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right>p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right>span {
  display: block;
  text-align: left;
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__left {
  padding-bottom: 10px;
  flex: 50%;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__left>h6 {
  font-size: 62px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 54px;
  margin: 0px;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__left>p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .logo__wrapper>a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__wrapper .outer__banner .banner__box .banner__inner .logo__wrapper>a>img {
  max-width: 100%;
}

.banner__wrapper>img {
  display: none;
}

@media (max-height: 900px) {
  .float__menu ul>li>a {
    font-size: 80px;
  }
}

@media (max-height: 800px) {
  .float__menu ul>li>a {
    font-size: 65px;
  }
}

@media (max-height: 700px) {
  .float__menu ul>li>a {
    font-size: 55px;
  }
}

@media (max-width: 1780px) {
  .banner__wrapper {
    padding-right: 0px;
  }

  footer .outer__footer .footer__right>h2 {
    font-size: 120px;
  }

  footer .outer__footer .footer__right {
    max-width: 840px;
  }

  footer .outer__footer .footer__left>a>img {
    max-width: 320px;
  }

  footer .outer__footer .footer__left .bottom__part .socials {
    margin-left: 50px;
  }
}

@media (max-width: 1640px) {
  footer .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer .outer__footer .footer__right>h2 {
    font-size: 100px;
  }

  footer .outer__footer .footer__right form>.group__input {
    margin-right: 15px;
  }

  footer .outer__footer .footer__right form>.group__submit>button {
    min-width: 200px;
  }
}

@media (max-width: 1440px) {
  .group__input>input {
    font-size: 24px;
  }

  .contact__wrapper {
    padding-top: 90px;
  }

  footer .outer__footer .footer__left>a>img {
    max-width: 270px;
  }

  footer .outer__footer .footer__left .bottom__part .menu__ul>ul {
    margin-right: 35px;
  }

  footer .outer__footer .footer__left .bottom__part .socials {
    margin-left: 35px;
  }

  footer .outer__footer .footer__right>h2 {
    font-size: 90px;
  }

  footer .outer__footer .footer__right {
    max-width: 720px;
  }

  header .outer__header {
    padding: 15px 0px;
  }

  .default__marquee ul>li {
    font-size: 36px;
  }

  .default__marquee ul>li.spacer>img {
    max-width: 18px;
  }

  header .outer__header .header__logo img {
    max-width: 360px;
  }
}

@media (max-width: 1300px) {
  footer .outer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__left {
    text-align: center;
    margin-bottom: 40px;
  }

  footer .outer__footer .footer__left .bottom__part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .outer__footer .footer__left .bottom__part .menu__ul {
    margin-bottom: 35px;
  }

  footer .outer__footer .footer__left .bottom__part .socials {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) {
  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 168px;
    min-height: 42px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 250px;
    font-weight: 900;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .banner__wrapper {
    position: relative;
    background: none !important;
  }

  .banner__wrapper .outer__banner {
    position: relative;
    z-index: 2;
  }

  .banner__wrapper>img {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
  }

  .banner__wrapper .outer__banner .banner__box {
    margin-right: auto;
    margin-top: 28vh;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .banner__wrapper {
    padding-bottom: 30px;
  }

  .group__input>input {
    font-size: 21px;
  }

  .contact__wrapper .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .banner__wrapper .outer__banner .banner__box>a {
    font-size: 24px;
  }

  .banner__wrapper .outer__banner .banner__box>a span img {
    max-width: 48px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .title>h2 {
    font-size: 55px;
    line-height: 66px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
  }

  .banner__wrapper .outer__banner .banner__box {
    max-width: 540px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right>p {
    font-size: 10px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__left>p {
    font-size: 10px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right {
    max-width: 200px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__left>h6 {
    font-size: 30px;
    line-height: 30px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right>span {
    font-size: 11px;
  }

  .contact__wrapper {
    padding-top: 78px;
  }

  footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .float__menu ul>li>a {
    font-size: 40px;
  }

  .float__menu ul>li {
    margin-bottom: 10px;
  }

  header .outer__header .header__cart>a img.active {
    right: 25px;
  }

  header .outer__header .header__logo img {
    max-width: 280px;
  }

  header .outer__header .header__menu>a {
    min-height: 48px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }

  header .outer__header .header__menu>a .header__bars {
    margin-left: 12px;
  }

  header .outer__header .header__cart>a {
    font-size: 18px;
    min-height: 48px;
    padding-left: 25px;
    padding-right: 25px;
  }

  header .outer__header .header__cart>a img {
    max-width: 24px;
    margin-left: 5px;
  }

  .default__marquee ul>li {
    font-size: 28px;
  }

  .default__marquee ul>li.spacer>img {
    max-width: 14px;
  }

  .default__marquee ul>li.spacer {
    margin: 0px 15px !important;
  }
}

@media (max-width: 767px) {
  footer .outer__footer .footer__left .bottom__part .menu__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .outer__footer .footer__left .bottom__part .menu__ul>ul {
    margin-right: 0px;
    margin-bottom: 12px;
  }

  footer .outer__footer .footer__left .bottom__part .menu__ul>ul:last-child {
    margin-bottom: 0px;
  }

  footer .outer__footer .footer__left .bottom__part .menu__ul {
    margin-bottom: 25px;
  }

  .footer__left {
    margin-bottom: 25px;
  }

  footer .outer__footer .footer__right>h2 {
    font-size: 75px;
  }

  footer .outer__footer .footer__right form>.group__input>input {
    font-size: 24px;
    min-height: 60px;
  }

  footer .outer__footer .footer__right form>.group__submit>button {
    font-size: 24px;
    min-height: 60px;
  }

  header .outer__header .header__cart>a {
    font-size: 0px;
  }

  header .outer__header .header__cart>a img {
    margin-left: 0px;
  }

  header .outer__header .header__menu>a {
    font-size: 0px;
  }

  header .outer__header .header__menu>a .header__bars {
    margin-left: 0px;
  }

  .default__marquee ul>li {
    font-size: 24px;
  }

  .default__marquee ul>li.spacer {
    margin: 0px 12px !important;
  }

  .default__marquee ul>li.spacer>img {
    max-width: 11px;
  }

  footer .outer__footer .footer__right .desc__wrapper .left__desc>p {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  footer .outer__footer .footer__right>h2 {
    font-size: 55px;
  }

  footer .outer__footer .footer__right form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .outer__footer .footer__right form>.group__submit {
    width: 100%;
  }

  footer .outer__footer .footer__right form>.group__submit>button {
    width: 100%;
  }

  footer .outer__footer .footer__right form>.group__input {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

@media (max-width: 540px) {
  .banner__wrapper .outer__banner .banner__box .banner__inner {
    padding: 15px 10px 0px 10px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .double__info .info__right {
    max-width: 100%;
    border-left: 1px solid #F0C71E;
    padding-left: 5px;
  }

  .contact__wrapper {
    padding-top: 66px;
  }

  .float__menu ul>li>a {
    font-size: 30px;
  }

  header .outer__header .header__cart>a img.active {
    right: 10px;
  }

  header .outer__header .header__menu>a {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 46px;
  }

  header .outer__header .header__cart>a {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 46px;
  }

  header .outer__header .header__logo img {
    max-width: 220px;
  }

  header .outer__header {
    padding: 10px 0px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info {
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images>img:nth-child(2) {
    max-width: 100px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images>img:nth-child(1) {
    max-width: 40px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .bottom__info>.images>img:nth-child(2) {
    top: -15px;
  }

  .banner__wrapper .outer__banner .banner__box .banner__inner .title>h2 {
    font-size: 45px;
    line-height: 52px;
  }

  .group__input>input {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .outer__footer .footer__right .desc__wrapper .right__desc>img {
    max-width: 50px;
  }

  footer .outer__footer .footer__left .bottom__part .socials ul>li>a {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    font-size: 28px;
  }

  footer .outer__footer .footer__right>h2 {
    font-size: 43px;
  }

  header .outer__header .header__logo img {
    max-width: 170px;
  }

  footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .float__menu .socials ul li a {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    font-size: 28px;
  }
}

@media (max-width: 440px) {
  .banner__wrapper .outer__banner .banner__box .banner__inner .title>h2 {
    font-size: 46px;
    line-height: 46px;
  }
}

@media (max-width: 400px) {
  .banner__wrapper .outer__banner .banner__box .banner__inner .title>h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

/*! CSS Used from: Embedded ; media=all */
@media all {
  .fa-brands {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
  }

  .fa-brands {
    font-family: "Font Awesome 6 Brands";
  }

  :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  }

  .fa-brands {
    font-weight: 400;
  }

  .fa-instagram:before {
    content: "\f16d";
  }

  .fa-facebook:before {
    content: "\f09a";
  }

  .fa-twitter:before {
    content: "\f099";
  }

  :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  }

  :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-family: "Gibson";
  src: url("../fonts/Gibson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gibson";
  src: url("../fonts/Gibson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gibson";
  src: url("../fonts/Gibson-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gibson";
  src: url("../fonts/Gibson-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/cy-grotesk-grand-dark.otf");
  font-style: normal;
}

@font-face {
  font-family: "HelveticaMd";
  src: url("../fonts/Helvetica%20Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}